FDR_SYNC_CKAN_URL=http://172.18.0.14:5000
#FDR_SYNC_CKAN_URL=https://ckan.francedatareseau.fr
FDR_SYNC_CKAN_API_KEY=TODO
# docker : (user must be in docker group or use sudo, without --net=host on fdrnifi ERROR 1: PQconnectdb failed)
#FDR_SYNC_OGR2OGR_COMMAND="sudo docker run --rm --net=host -v /home:/home osgeo/gdal:alpine-small-latest ogr2ogr"
FDR_SYNC_OGR2OGR_COMMAND="docker run --rm --net=host -v /home:/home osgeo/gdal:alpine-small-latest ogr2ogr"
# when run dockerized :
#FDR_SYNC_OGR2OGR_COMMAND=ogr2ogr
FDR_SYNC_POSTGRES_HOST=172.18.2
#FDR_SYNC_POSTGRES_HOST=TODO
FDR_SYNC_POSTGRES_PORT=5432
#FDR_SYNC_POSTGRES_PORT=55432
FDR_SYNC_POSTGRES_DATABASE=datastore
FDR_SYNC_POSTGRES_USER=ckan
FDR_SYNC_POSTGRES_PASSWORD=ckan
