FDR_SYNC_CKAN_URL=http://172.18.0.14:5000
#FDR_SYNC_CKAN_URL=https://ckan.francedatareseau.fr
FDR_SYNC_CKAN_API_KEY=TODO
# run ogr2ogr in its docker container :
# user must be in docker group or use sudo, without --net=host on fdrnifi ERROR 1: PQconnectdb failed
FDR_SYNC_OGR2OGR_DOCKER_PREFIX="docker run --rm --net=host -v /home:/home"
FDR_SYNC_OGR2OGR_DOCKER_IMAGE="osgeo/gdal:alpine-small-latest"
FDR_SYNC_POSTGRES_HOST=172.18.2
#FDR_SYNC_POSTGRES_HOST=TODO
FDR_SYNC_POSTGRES_PORT=5432
#FDR_SYNC_POSTGRES_PORT=55432
FDR_SYNC_POSTGRES_DATABASE=datastore
FDR_SYNC_POSTGRES_USER=ckan
FDR_SYNC_POSTGRES_PASSWORD=ckan
